<!-- DROPDOWNS: Removed from All Containers -->

    <div id="AboutMenuContainer">
      <div id="AboutMenuContent" class="menu">
        <div class="options">
          <a href="about.html">About the College</a>
          <a href="principal.html">Principal's Page</a>
          <a href="vice_principal.html">Vice Principal's Page</a>
          <a href="library.html">General Library</a> 
          <a href="iqac.html">IQAC</a>
          <a href="administrative_structure.html">Administrative Structure</a>
          <a href="college_development_council.html">College Development Council</a>
          <a href="facilities.html">Facilities</a>
          <a href="50years.html">50 Years</a> 
        </div>
      </div>
    </div>
    <div id="AcademicsMenuContainer">
      <div id="AcademicsMenuContent" class="menu">
        <div class="options">
          <a href="Teaching_Learning_Evaluation.html">Teaching, Learning &amp; Evaluation</a>
          <a href="Research_Consultancy_Extension.html">Research, Consultancy &amp; Extension</a>
	  <a href="Student_support_and_Progress.html">Student Support and Progress</a>
	  <a href="Organization_and_Management.html">Organization and Management</a>
        </div>
      </div>
    </div>
    <div id="DepartmentsMenuContainer">
      <div id="DepartmentsMenuContent" class="menu">
        <div class="options">
          <a href="arabic_dep.html">Department of Arabic</a>
          <a href="botany_dep.html">Department of Botany</a>
          <a href="chem_dep.html">Department of Chemistry</a>
	  <a href="cs_dep.html">Department of Computer Science</a>
	  <a href="economics_dep.html">Department of Economics</a>
          <a href="english_dep.html">Department of English</a>
	  <a href="geology_dep.html">Department of Geology</a>
	  <a href="hindi_dep.html">Department of Hindi</a>
	  <a href="history_dep.html">Department of History</a>
	  <a href="kannada_dep.html">Department of Kannada</a>
          <a href="malayalam_dep.html">Department of Malayalam</a>
	  <a href="mathematics_dep.html">Department of Mathematics</a>
	  <a href="physics_dep.html">Department of Physics</a>
          <a href="pe_dep.html">Department of Physical Education</a>
	  <a href="statistics_dep.html">Department of Statistics</a>
          <a href="zoology_dep.html">Department of Zoology</a>
        </div>
      </div>
    </div>
    <div id="ActivitiesMenuContainer">
      <div id="ActivitiesMenuContent" class="menu">
        <div class="options">
          <a href="pta.html">Parent Teacher Association</a>
          <a href="Old_Students_Association.html">Old Students Association</a>
	  <a href="college_development_council.html">College Development Council</a>
	  <a href="Staff_Club.html">Staff Club</a>
	  <a href="nss.html">National Service Scheme</a>
	  <a href="ncc.html">National Cadet Corps</a>
	  <a href="tourism_club.html">Tourism Club</a>
	  <a href="Placement_Cell.html">Placement Cell</a>
	  <a href="Student_Counseling_Centre.html">Student Counseling Centre</a>
          <a href="Women_Empowerment_Cell.html">Women Empowerment Cell</a>
          <a href="Poor_Students_Aid_Fund.html">Poor Students Aid Fund</a>
	  <a href="Planning_and_Development_Wing.html">Planning and Development Wing</a>
	  <a href="Humanitarian_Cell.html">Humanitarian Cell</a>
	  <a href="Vidyanidhi.html">Vidyanidhi</a>
	  <a href="Legal_Awareness_Classes.html">Legal Awareness Classes</a>
	  <a href="College_Union.html">College Union</a>
        </div>
      </div>
    </div>
    <div id="InformationMenuContainer">
      <div id="InformationMenuContent" class="menu">
        <div class="options">
          <a href="news.html">News</a>
          <a href="events.html">Events</a>
          <a href="news_archive.html">News Archive</a>
          <a href="past_events.html">Past Events</a>
        </div>
      </div>
    </div>
    <div id="NewsMenuContainer">
      <div id="NewsMenuContent" class="menu">
        <div class="options">
          <a href="admission.html">Admission</a>
          <a href="fee_payment.html">Fee payment</a>
          <a href="exam_calander.html">Exam Calander</a>
          <a href="useful_forms.html">Useful Forms</a>
          <a href="time_table.html">Time Table</a>
          <a href="exam_results.html">Exam Results</a>
          <a href="directories.html">Directories</a>
          <a href="links.html">Useful Links</a>

        </div>
      </div>
    </div>
    <div id="GalleryMenuContainer">
      <div id="GalleryMenuContent" class="menu">
        <div class="options">
          <a href="photo_gallery.html">Photo Gallery</a>
          <a href="videos.html">Videos</a> 
          <a href="downloads.html">Downloads</a>
          <a href="submit_photos.html">Submit Photos</a>
        </div>
      </div>
    </div>