<div id="footer">
<div id="footerleft">Copyright ©2006-2019 <a href="index.html">Government College Kasaragod</a><br />Vidyanagar, Kasaragod, 671 123, Kerala, India <br />E-mail: <a href="contact.html" >getinfo<script type="text/javascript">
//<![CDATA[
document.write("&#"+"64");
//]]>
</script><noscript>(@)</noscript>gck<script type="text/javascript">
//<![CDATA[
document.write("&#"+"46");
//]]>
</script><noscript>(.)</noscript>ac<script type="text/javascript">
//<![CDATA[
document.write("&#"+"46");
//]]>
</script><noscript>(.)</noscript>in</a>    Phone: (04994) 256027 <br /><br />Site by <a href="http://www.limeconsultants.com/" target="_blank" >Lime Media</a> </div>
<div id="footerright">
<a href="https://www.google.com/" target="_blank"><img src="assets/2006/images/google.jpg" alt="Powered by Google" width="62" height="30" border="0" /></a>
<a href="https://www.github.com" target="_blank"><img src="assets/2006/images/GitHub-Mark.png" alt="Powered by GitHub" width="35" height="35" border="0" /></a>
<a href="http://www.kannuruniversity.ac.in/"><img src="assets/2006/images/ku_logo.gif" alt="Kannur University" width="143" height="35" border="0" /></a></div>
</div>
