  <meta http-equiv="content-type" content="text/html; charset=utf-81" />
  <meta http-equiv="content-style-type" content="text/css" />
  <link rel="stylesheet" type="text/css" href="assets/2006/template/inc_css/frontend.css" />
  <script language="javascript" type="text/javascript" src="assets/2006/js/ypSlideOutMenusC.js"></script>
  <script language="javascript" type="text/javascript" src="assets/2006/js/dropdowns.js"></script>
  <!--[if lt IE 8]><script type="text/javascript" src="assets/2006/template/lib/ie7-assets/2006/js/IE8.js"></script><![endif]-->