<div id="navbar">
<div id="navcontainer">
<div id="nav"><ul>
	<li><a href="about.html" id="nav_inside" onmouseover="ypSlideOutMenu.showMenu('AboutMenu')" onmouseout="ypSlideOutMenu.hideMenu('AboutMenu')">ABOUT THE<br />
	  COLLEGE</a></li>
	<li><a href="academics.html" id="nav_newsevents" onmouseover="ypSlideOutMenu.showMenu('AcademicsMenu')" onmouseout="ypSlideOutMenu.hideMenu('AcademicsMenu')">ACADEMIC<br />
	  STRUCTURE</a></li>
	<li><a href="departments.html" id="nav_admissions" onmouseover="ypSlideOutMenu.showMenu('DepartmentsMenu')" onmouseout="ypSlideOutMenu.hideMenu('DepartmentsMenu')">DEPARTMENTS<br />
	  & COURSES</a></li>
	<li><a href="activities.html" id="nav_prodevelop" onmouseover="ypSlideOutMenu.showMenu('ActivitiesMenu')" onmouseout="ypSlideOutMenu.hideMenu('ActivitiesMenu')">OTHER<br />
	  ACTIVITIES</a></li>
	<li><a href="news_events.html" id="nav_community" onmouseover="ypSlideOutMenu.showMenu('InformationMenu')" onmouseout="ypSlideOutMenu.hideMenu('InformationMenu')">NEWS AND<br />
	  EVENTS</a></li>
	<li><a href="information.html" id="nav_publications" onmouseover="ypSlideOutMenu.showMenu('NewsMenu')" onmouseout="ypSlideOutMenu.hideMenu('NewsMenu')">INFORMATON<br />
	  & LINKS</a></li>
	<li><a href="gallery.html" id="nav_programs" onmouseover="ypSlideOutMenu.showMenu('GalleryMenu')" onmouseout="ypSlideOutMenu.hideMenu('GalleryMenu')">PHOTOS &<br />
	  VIDEOS</a></li>
	</ul>
</div><!-- End of Nav Div --></div><!-- End of Nav Container Div --></div><!-- End of Nav Bar Div -->