/* 

	PLEASE DON'T EDIT THIS PAGE
	THIS PAGE IS NOT SUPPOSED TO BE EDITED
	
	RECOVERED ON 11-07-2013

*/



body {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	background-color: #FFF;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 150%;
	}

body#inside #nav_inside, 
body#newsevents #nav_newsevents, 
body#admissions #nav_admissions, 
body#prodevelop #nav_prodevelop,
body#community #nav_community,
body#publications #nav_publications,
body#programs #nav_programs {
	text-decoration: none;
	background-color: #900;
	border: 1px solid #CCC;
	}

#nav_search_active,
#nav_credits_active,
#nav_sitemap_active,
#nav_contact_active,
#nav_home_active {
	text-decoration: none;
	background-color: #CCC;
	padding: 0px 2px;
	border: 1px solid #FFF;
	}

body#inside, 
body#newsevents,
body#admissions, 
body#prodevelop,
body#community,
body#publications,
body#programs,
body#search,
body#contact,
body#home {
	margin: 0px;
	padding: 0px;
	}

#toplinksbar {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	width: 100%;
	height: 23px;
	background-image: url("../gck_main/images/toplinksbar_gray.gif");
	background-repeat: repeat-x;
	}

#toplinks {
	margin: 0px auto;
	padding: 4px 0px 0px 0px;
	text-align: right;
	width: 700px;
	height: 23px;
	font-size: 10px;
	font-weight: bold;
	background-image: url("../gck_main/images/toplinksbar_bground.gif");
	background-repeat: no-repeat;
	voice-family: "\"}\""; 
    voice-family:inherit;
    height: 19px;
	}
html>body #toplinks {
	height: 23px;
	}
#toplinks a, #toplinks a:visited, #toplinks a:active {
	color: #333;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	}

#toplinks a:hover {
	color: #900;
	text-decoration: underline;
	}

#bannerbar {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	width: 100%;
	height: 99px;
	background-image: url("../gck_main/images/bannerbar_bground.gif");
	background-repeat: repeat-x;
	}

#banner {
	margin: 0px auto;
	padding: 0px;
	text-align: right;
	width: 700px;
	height: 99px;
	font-size: 10px;
	font-weight: bold;
	background-image: url("../gck_main/images/banner_bground.gif");
	background-repeat: no-repeat;
	}

#textban, #printmark {
	display: none;
	}

.archban {
	width: 700px;
	height: 99px;
	}

#navbar {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	width: 100%;
	height: 35px;
	background-image: url("../gck_main/images/navbar_bground.gif");
	background-repeat: repeat-x;
	}

#navcontainer {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	width: 700px;
   	}

#nav {
	margin: 0px;
	padding: 0px;
	font-size: 10px;
    line-height: 90%;
    }
	 
#nav ul {
    margin: 0px;
    padding: 0px 0px 0px 107px;
    list-style: none;
    }

#nav li {
    float: left;
    margin: 0px;
    padding: 1px 5px 4px 6px;
    }

#nav a, #nav a:visited, #nav a:hover, #nav a:active {
    float: left;
	color: #FFF;
	display: block;
	padding: 2px;
	text-decoration: none;
       font-weight: bold;
	width:62px;
	}

#bigphotobar {
	margin: 0px auto;
	clear:both;
	padding: 0px;
	text-align: center;
	width: 700px;
	position:relative;
	height: 289px;
	border-top: 10px solid #FFF;
	}

#bigphoto {
	position:absolute;
	top:0;
	left:0;
	border-right:4px solid #F6CC77;
	
	}

#bigphototext {
	width: 256px;
	height: 289px;
	float: right;
	background-image: url("../gck_main/images/bigphototext_bground.jpg");
	background-repeat: no-repeat;
	text-align: left;
	line-height: 120%;
	}

.bigphototextindent {
	padding: 10px 17px 0px 21px;
	}
html>body .bigphototextindent {
	padding: 17px 17px 20px 21px;
	}

#bigphototext a, #bigphototext a:visited, #bigphototext a:active {
	color: #900;
	text-decoration: underline;
	}

#bigphototext a:hover {
	color: #666;
	text-decoration: underline;
	}

#photosbar {
	clear:both;
	float:left;
	margin: 0;
	padding: 0px;
	text-align: center;
	width: 100%;
	height: 146px;
	background:transparent url("../gck_main/images/photosbar_bground.jpg") repeat-x;
	border-top: 10px solid #FFF;
	/*\*//*/
  	background-position: 0 10px;
	/**/
	}

#photosbarcontent {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	position:relative;
	width: 700px;
	height: 146px;
	}
	
#photosbarcontent h2{
	margin:0;
	padding:0;
	}
	
#photosbarcontent img{
	border:none;
	padding:4px;
	background:#FFF;
}

#photosbarcontent img:hover{
	background:#DADADA;
	}

#eventpic-1, #eventpic-2 {
	width: 144px;
	height: 133px;
	text-align: left;
	position:absolute;
	top:0;
	left:156px;
	margin: 0px 0px 0px 20px;
	padding: 13px 0px 0px 0px;
	}
	
#eventpic-2 {
	left:536px;
	}

#eventtext-1, #eventtext-2 {
	width: 156px;
	height: 120px;
	text-align: left;
	position:absolute;
	top:0;
	left:0;
	padding: 20px 0px 0px 0px;
	line-height: 120%;
	}
	
#eventtext-2 {left:380px; margin-top:12px;}


#eventtext-1 a, #eventtext-1 a:visited, #eventtext-1 a:active, #eventtext-2 a, #eventtext-2 a:visited, #eventtext-2 a:active {
	color: #900;
	text-decoration: underline;
	}

#eventtext-1 a:hover, #eventtext-2 a:hover {
	color: #666;
	text-decoration: underline;
	}

#divider {
	width: 28px;
	height: 126px;
	position:absolute;
	top:0;
	left:336px;
	background-image: url("../gck_main/images/divider_bar.jpg");
	background-repeat: none;
	}

#emptybar {
	clear:both;
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	width: 100%;
	height: 26px;
	background-image: url("../gck_main/images/emptybar_bground.gif");
	background-repeat: repeat-x;
	}

#footer {
	margin: 0px auto;
	clear:both;
	padding: 0px;
	text-align: center;
	width: 700px;
	height: 50px;
	border-top: 10px solid #FFF;
	}

#footer a, #footer a:visited, #footer a:active {
	color: #990000;
	text-decoration: none;
	}

#footer a:hover {
	color: #900;
	text-decoration: underline;
	}

#footerleft {
	text-align: left;
	float: left;
	font-size: 10px;
	/*font-weight: bold;*/
	color: #333;
	line-height: 100%;
	}

#footerright {
	text-align: right;
	float: right;
	font-size: 10px;
	font-weight: bold;
	color: #333;
	line-height: 100%;
	}

#textban, #printmark {
	display: none;
	}

#workimage {
	text-align: center;
	}

#worktitle {
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 100%;
	}

div.spacer {
	clear: both;
	margin: 0px;
	padding: 0px;
	}

h1 {
	font-size: 16px;
	font-weight: bold;
	color: #900;
	}

h2 {
	font-size: 14px;
	font-weight: bold;
	color: #900;
	}

h3 {
	font-size: 12px;
	font-weight: bold;
	color: #900;
	}

.highlight {
	font-size: 11px;
	color: #900;
	}

hr {
	display: none;
	}
	
dt {
        font-size: 12px;
        font-weight: bold;
	color: #333333;
        }

/**************************
Supporting Page Divs
**************************/

#headerblock {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	width: 700px;
	border-top: 10px solid #FFF;
	}

#quoteblock {
	float: left;
	width: 218px;
	height: 105px;
	background-image: url("../gck_main/images/quoteblock_bground.jpg");
	border-right: 10px solid #FFF;
	}

.quoteblockindent {
	text-align: left;
	padding: 20px;
	/*line-height: 120%;*/
	font-size: 11px;
	font-weight: bold;
	color: #333;
	vertical-align: middle;
	}

#headerimage {
	float: right;
	width: 472px;
	height: 105px;
	}

#gradientbarbox {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	width: 100%;
	height: 19px;
	background-image: url("../gck_main/images/gradientbar_bground.jpg");
	background-repeat: repeat-x;
	}

#gradientbar {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	width: 700px;
	height: 19px;
	background-image: url("../gck_main/images/gradientbar.jpg");
	background-repeat: repeat-x;
	}

#canvas {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	width: 100%;
	background-color: #CCC;
	border-bottom: 1px solid #FFF;
	}

#supportbody {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	width: 700px;
	background-image: url("../gck_main/images/suprtbody_bground.jpg");
	background-repeat: repeat-y;
	}

#leftsubnav {
	float: left;
	width: 218px;
	border-right: 10px solid #FFF;
	text-align: right;
	}


.leftsubnavindent {
	padding: 0px 20px 20px 20px;
	}

.leftsubnavindent ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    }

.leftsubnavindent li {
    margin: 0px;
    padding: 0px;
    }

.leftsubnavindent a, .leftsubnavindent a:visited {
    color: #333;
	display: block;
	width: 178px;
	margin: 0px;
	padding: 0px;
    text-decoration: none;
    font-size: 11px;
	font-weight: bold;
	background-image: url("../gck_main/images/dotted_underline.gif");
	background-repeat: repeat-x;
	background-position: left bottom;
	}

.leftsubnavindent a:hover, .leftsubnavindent a:active {
	text-decoration: none;
	color: #900;
	background-image: url(../gck_main/images/dotted_underline.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	}

#righttextarea {
	float: right;
	text-align: left;
	width: 472px;
	}

.righttextareaindent {
	margin: 0px 20px 20px 20px;
	width:432px;
	overflow: visible;
	}

#righttextarea a, #righttextarea a:visited, #righttextarea a:active {
	color: #900;
	text-decoration: underline;
	}

#righttextarea a:hover {
	color: #666;
	text-decoration: underline;
	}

#breadcrumb {
	margin-bottom: 10px;
	font-size: 10px;
	font-weight: bold;
	}

/**************************
One Column Page Divs
**************************/

#onecolumngradientbarbox {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	width: 100%;
	height: 19px;
	background-image: url("../gck_main/images/gradientbar_bground.jpg");
	background-repeat: repeat-x;
	}

#onecolumngradientbar {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	width: 700px;
	height: 19px;
	background-image: url("../gck_main/images/onecolumn_gradientbar.jpg");
	background-repeat: repeat-x;
	}

#onecolumnbody {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	width: 700px;
	background-image: url("../gck_main/images/onecolumnbody_bground.jpg");
	background-repeat: repeat-y;
	}

#onecolumntextarea {
	text-align: left;
	width: 700px;
	}

.onecolumntextareaindent {
	padding: 0px 40px 20px 40px;
	}

#onecolumntextarea a, #onecolumntextarea a:visited, #onecolumntextarea a:active {
	color: #900;
	text-decoration: underline;
	}

#onecolumntextarea a:hover {
	color: #666;
	text-decoration: underline;
	}

/* VERTICLE MENU */
.menu {text-align:left; margin:0; padding:0; left:0px;}
.menu .options {
margin-right:1px;
margin-bottom:1px; }

.menu a {
color:#990000;
font:11px Arial, sans-serif;
display:block;
border-bottom:1px solid #E7E7E5;
padding:4px 13px;
text-decoration:none;}

.options {
border:none;
border-bottom-width:0;
margin-bottom:-10px;
background:#F5F4F0 url(../../images/bg_dropdown.gif) repeat-x top;}
.options a { margin:0 1px; padding-right:10px; }
.options a:link { color:#990000; }
.options a:visited { color:#990000;}
.options a:hover, .options a:active { background-color:#990000; color:#fff; }

.photo {
	margin: 0 8px 0 0;
	padding: 4px;
	border: 1px solid #D9E0E6;
	border-bottom-color: #C8CDD2;
	border-right-color: #C8CDD2;
	background: #fff;
	}
	
.imgDIVinTextLeft {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 0;
}
.imgDIVinTextRight {
	float: right;
	margin-left: 5px;
	margin-bottom: 5px;
	padding: 0;
} 
.imgDIVtopLeft { 
	margin:8px 10px 5px 20px; 
	padding:0px; 
	border:0; 
} 
.imgDIVtopCenter { 
	margin:8px -50% 5px -50%; 
	padding:0px; 
	border:0; 
}

.imgDIVblockImgLeft { 
	margin-right: 10px;
}
.imgDIVblockImgRight {
	margin-left: 10px; 
} 

.phpwcmsImgListRight {
	text-align: right;
	margin: 0;
	padding: 0;
}
.phpwcmsImgListLeft {
	text-align: right;
	margin: 0;
	padding: 0;
}


.phpwcmsSearchResult {
	margin: 15px 0 15px 0;
}
.phpwcmsSearchResult h3 {
	margin: 10px 0 1px 0;
	font-size: 12px;
	font-weight: bold;
}
.phpwcmsSearchResult p {
	margin: 0;
}
.phpwcmsSearchResult em.highlight, em.highlight {
	background-color: #FFFF00;
	font-style:inherit;
}


#VisualModeIndicator {
	position:absolute;
	left:5px;
	bottom:5px;
	padding:5px;
	z-index:10000;
	background-color:#FF3300;
	color:#FFFFFF;
	border:1px solid #000000;
}

.phpwcmsArticleListEntry {
	clear: both;
}
.phpwcmsArticleListImage {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 3px;
}
.phpwcmsArticleListImageCaption {
	padding-top: 5px;
}

div.cpPagination {
	margin: 10px 0 10px 0;
	text-align: right;
}
a.cpPaginate, a.cpPaginateActive, a.cpPaginationPrev, a.cpPaginationNext {
	padding: 0px 3px 1px 3px;
	background-color: #FFFFFF;
	color: #BBBBBB;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #CBCBCB;
}
a.cpPaginateActive {
	background-color: #CBCBCB;
	color: #FFFFFF;
	border: 1px inset #CBCBCB;
}

a.cpPaginationPrev:hover, a.cpPaginationNext:hover, a.cpPaginate:hover {
	background-color: #DDDDDD;
	color: #666666;
	border: 1px inset #CBCBCB;
}