<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-81" />
<head>
  <title>Government College Kasaragod</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-81" />
  <meta http-equiv="content-style-type" content="text/css" />
  <link rel="stylesheet" type="text/css" href="assets/2006/template/inc_css/frontend.css" />
<script language="javascript" type="text/javascript" src="assets/2006/js/ypSlideOutMenusC.js"></script>
<script language="javascript" type="text/javascript" src="assets/2006/js/dropdowns.js"></script>
  <!--[if lt IE 8]><script type="text/javascript" src="assets/2006/template/lib/ie7-assets/2006/js/IE8.js"></script><![endif]-->
</head>
<body>
<a name="top"></a>

{% include 2006/toplinks.html %}

<!-- End of Top Links Bar Div -->

<div id="bannerbar">
<div id="banner"><a href="index.html" title="Go To Government College Kasaragod Home Page"><img src="assets/2006/images/spacer.gif" alt="Government College Kasaragod" border="0" class="archban" /></a>
</div>
</div><!-- End of Banner Bar Div -->
<div id="textban"><h3><a href="index.html" title="Go To Government College Kasaragod Home Page">Government College Kasaragod<br />
Government College Kasaragod</a></h3>
</div>

{% include 2006/navbar.html %}

<script type="text/javascript" src="assets/2006/js/img_rotation_bigpic.js"></script>
<noscript><img src="assets/2006/images/rotation/big_pic_instructor.html"></noscript>

<div id="photosbar">
<div id="photosbarcontent">

<a name="jump6" id="jump6"></a><!-- Livedate: 25.03.2007 01:09:41 / Killdate: 22.03.2017 10:29:59 -->
<!-- 
  Livedate: 25.03.2007 01:09:41 / Killdate: 22.03.2017 10:29:59 
//-->


<h2><span style="font-size: small;"> </span></h2>
<h2 style="text-align: left;"><span style="color: rgb(0, 0, 255);"><strong>Diamond Jubilee Year 2018</strong></span></h2>
<h2 style="text-align: left;"><span style="font-size: x-small;">The college has entered 61<sup>st</sup> year of its glorious service</span></h2>
<h2><img src="assets/2006/picture/upload/image/e68affb0180380e79857a286878b2de8.jpg" width="110" height="83" align="left" alt="" /></h2>
<p>&#1;</p>
<p>&#1;</p>
<p>&#1;</p>
<p style="">&#1;</p>
<p style="">&#1;</p>


  <!-- <script type="text/javascript" src="assets/2006/js/img_rotation_leftevents.js"></script>
  <noscript><img src="assets/2006/images/rotation/sm_pic_bond.jpg"></noscript> -->


  <div id="divider">&nbsp;</div>
  <script type="text/javascript" src="assets/2006/js/img_rotation_rightevents.js"></script>
  <noscript><img src="assets/2006/images/rotation/sm_pic_dome.html"></noscript>
<!-- End of Photos Bar Content Div --></div></div><!-- End of Photos Bar Div -->


<div id="emptybar"> </div>

{% include 2006/footer.html %}
<!-- End of Footer Div -->


{% include 2006/dropdown.html %}

</body>
</html>